@model IEnumerable<News.DomainModel.NewsModel>


    <div class="articles">
        <header>
            <h3 class="title-head">
                آخرین اخبار
            </h3>
        </header>

        @foreach (var item in Model)
        {
            <div class="article">
                <div class="article-right">
                    <a href="/News/Single/@item.NewsId"><img src="/Images/Pages/@item.ImageName"></a>
                </div>
                <div class="article-left">
                    <div class="article-title">
                        <p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
                        <a class="title" href="/News/Single/@item.NewsId">@item.Title</a>
                    </div>
                    <div class="article-text">
                        <p>@item.ShortNews</p>
                        <a href="/News/Single/@item.NewsId"><img src="/Template/images/more.png" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }


    </div>
