@model IEnumerable<News.DomainModel.NewsModel>

    <div class="marquee">


        @foreach (var item in Model)
        {
            <div class="marquee1"><a class="breaking" href="/News/Single/@item.NewsId">
             @item.Title
                 </a></div>
        }

        <div class="clearfix"></div>
    </div>
