@model IEnumerable<News.DomainModel.NewsModel>


<div class="life-style">
    <header>
        <h3 class="title-head">
            پربازدیدتری اخبار
        </h3>
    </header>

    <div class="life-style-grids">
        @{
            int i = 2;

            foreach (var item in Model)
            {
                

                <div class="@(i % 2 == 0 ? "life-style-right-grid":"life-style-left-grid")">

                    <a href="single.html"><img src="~/Images/Pages/@item.ImageName" alt="" /></a>
                    <a class="title" href="single.html">@item.Title</a>
                </div>
                i++;
            }


        }
        <div class="clearfix"></div>
    </div>

    </div>
